<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
    		<ul class="nav">
     			 <li><a href="#">Welcome</a></li>
    			 <li><a href="#">Portfolio</a></li>
      			<li><a href="#">Blog</a></li>
     			 <li><a href="#">About</a></li>
      			<li><a href="#">Contact</a></li>
   			 </ul>
      </div>
      <div class="col-md-4">
    		<p class="pull-right">Kari Stromsland</p>
      </div>
     </div>
   </div>
</div>
<div class="main">
  <div class="jumbotron">
    <div class = "container">
      <h2>Active Adaptive Analytical<br>Web Spaces with<span class="headline"> Kari Stromsland </span><br>Community, at Play, in Work</h2>
      <a href="#" class="btn btn-lg">View my Work</a>
    </div>
  </div>
</div>
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="pull-right">
        <a href="#" class="logoGit"> 
          <img src = "https://photos-5.dropbox.com/t/2/AACr3Sl_8T4ngn2ma0GgdhF_nc6yAQnPVCUhWsMai2wSXA/12/393217893/png/32x32/1/_/1/2/github13.svg/EOipnpEDGFEgBygH/lpohuijxGByAGpN0oEUsV6j97Kdd8ptvUqnNmKGUzaM?size=1600x1200&size_mode=2"></a>      
        <a href="#" class="logoIn">
          <img src="https://photos-4.dropbox.com/t/2/AAB5rx88W57rUpkhkyJO4T3QPr6TGS68KqthfxP_0pNYIw/12/393217893/png/32x32/1/_/1/2/linkedin11.svg/EOipnpEDGFEgBygH/amrMz_G6pSewLx8779SyKKeG28d8x02xUrIJbV44XOc?size=1600x1200&size_mode=2"></a>        
        <a href="#" class="logoTweet">
          <img src="https://photos-4.dropbox.com/t/2/AADv6NQTlhBfOctyWHKoD4CA9MLGrqqlQIIWKvmk4d7RtA/12/393217893/png/32x32/1/_/1/2/twitter1.svg/EOipnpEDGFEgBygH/FHlfIOfss2hj5oD6kx4rXeU_vUu5328pW5pJ0cus52s?size=1600x1200&size_mode=2"></a>
        <h6 class="copy">&copy; 2015 Kari Stromsland</h6>
      </div>
    </div>
   </div>
</div>
      